
{% include "urlsplit.html" %}


<a href="{% url 'contest:new' %}">
    <input type="button" value="Add Contest">
</a>
<table>
    <tr>
        <td> ID </td>
        <td> Name </td>
        <td> Problems </td>
        <td> </td>
    </tr>
    {% for c in contests %}
        <td> {{c.platform}}-{{c.contestId}} </td>
        <td> <a href="{% url 'contest:view_index' c.id %}">{{c.contestName}}</a> </td>
        <td> {{c.problemNum}} </td>
        <td> 
            <a href="{% url 'contest:view_submitions' c.id %}"><input type="button" value="Submitions"></a>
            <a href="{% url 'contest:view_rank' c.id %}"><input type="button" value="Rank"></a>
        </td>
    {% endfor %}
</table>